<!DOCTYPE html>
<html>

<body>

    <h1> ABOUT </h1>

    <section class="about_section">
      
      <div class="about_image">
        <%= image_tag("datenightpostblog.png", :width => 300 ) %>
      </div>

      <p>Date Night Post started as an experiment to see whether couples wanted help in creating stronger relationships. Debuting as a blog on Strikingly, DNP shared creative date night ideas from other real-life couples. After assembling a small following within weeks, we realized that we were onto something.</p>

      <p>Today, DNP has evolved into a reminder service that offers curated ideas for adventure. We serve people who want a gentle nudge and a little creativity in helping their relationships thrive.</p>
    
    </section>


<!-- FOOTER -->

    <div class="footer">
      <ul class="footer-tags">
        <li> <a href="/">Home</a></li>
        <li> <a href="/about">About</a></li>
        <li> <a href="/FAQ">FAQ</a></li>
        <li> <a href="/contact">Contact Us</a></li>
      </ul>
      <p>&copy 2014 Date Night Post, Inc.</p>
      <p> Built from scratch & with <span class="heart">&hearts;</span> in Brooklyn, NY.</p>
    </div><!-- /.footer -->

</body>

</hmtl>