<!DOCTYPE html>
<html>

<body>

    <h1> CONTACT </h1>

    <section class="contact_section">

      <h4>We're pretty low key - find us on email and Twitter.</h4></br>

      <div class="contact_three_columns">

        <div class="email_image">
          </br>
          <%= image_tag("email-icon.png", :width => 150 ) %>
          <h3>EMAIL</h3>
          <p>datenightpost (at) gmail.com</p></br>
        </div>

        <div class="twitter_image">
          <%= image_tag("twitter-icon.png", :width => 150 ) %>
          <h3>TWITTER</h3>
          <p>@datenightpost</p></br>
        </div>

        <div class="instagram_image">
          <%= image_tag("instagram-icon.png", :width => 150 ) %>
          <h3>INSTAGRAM</h3>
          <p>#datenightpost</p>
        </div>
      </div>          
    </section>


<!-- FOOTER -->

    <div class="footer">
      <ul class="footer-tags">
        <li> <a href="/">Home</a></li>
        <li> <a href="/about">About</a></li>
        <li> <a href="/FAQ">FAQ</a></li>
        <li> <a href="/contact">Contact Us</a></li>
      </ul>
      <p>&copy 2014 Date Night Post, Inc.</p>
      <p> Built from scratch & with <span class="heart">&hearts;</span> in Brooklyn, NY.</p>
    </div><!-- /.footer -->

</body>

</html>