<!DOCTYPE html>
<html>

<body>

    <h1> SPECIAL THANKS </h1>



<!-- FOOTER -->

    <div class="footer">
      <ul class="footer-tags">
        <li> <a href="/about">About</a></li>
        <li> <a href="/FAQ">FAQ</a></li>
        <li> <a href="/contact">Contact Us</a></li>
      </ul>
      <p>&copy 2014 Date Night Post, Inc.</p>
      <p> Built from scratch & with <span class="heart">&hearts;</span> in Brooklyn, NY</p>
    </div><!-- /.footer -->

</body>

</html>