<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to DateReminder.com</h1>
    <p>
      Thanks for signing up for Date Reminders! Beyond getting reminders about the dates that are most important to you, we'll also be sharing some new things we're building in our secret labratory. Till then, feel free to spend the extra mental space pondering the meaning of life instead.<br>
    </p>
    <p>Looking forward to sharing more soon!</p>
    <p>The Date Reminder Team</p>
  </body>
</html>